h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Merriweather;
}

p {
    font-family: Inter;
}

/* Banner style */
.banner {

    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Assets/Resources/Banner-happy-new-year.png');
}

.new-year {
    margin: 0;
    padding: 117px 530px 0 530px;
    color: #FFF;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

.new-year-party {
    margin: 0;
    padding: 16px 344px 177px 344px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Discount section style */
.disc-percent {
    margin-top: 120px;
    margin-bottom: 0;
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.holiday {
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.category {
    margin-top: 16px;
    color: black;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.disc-img {
    text-align: center;
}

/* Midnight party image style */

.midnight-party {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* letter-spacing: 7.04px; */
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Assets/Resources/Party-image.png');
}

.greetings {
    margin-bottom: 0;
}

.p-discription {
    padding-top: 24px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    color: #FFF;
    background: transparent;
    font-size: 20px;
    font-weight: 700;
}